body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url('./img/banner.jpg') center center no-repeat;
    padding: 20px;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about,
.sign-in {
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    padding: 7px 15px;
    text-transform: uppercase;
}

a.sign-in {
    margin-right: 60px;
    margin-left: 25px;
    color: green;
    border: 1px solid green;
    border-radius: 30px;
}

.logo {
    height: 100px;
    background: url('./img/hapoERP.png') center center no-repeat;
    padding: 40px;
}